/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# デプロイ時に "yarn run prod" でコンパイルするため管理対象から除外
/public/css
/public/js
/public/mix-manifest.json

# IDE Helper 系は管理対象から除外
/.phpstorm.meta.php
/_ide_helper.php
